node_modules/

# Android
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/captures/
android/.idea/
android/*.iml

# iOS
ios/App/Pods/
ios/App/output/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/Podfile.lock

# Capacitor
.DS_Store
